In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("D:\\Infosys Internship\\Products dataset.csv")
df.head()

,product_name,product_category,product_weight_g,product_volume_cm3,price_inr,fragility_level,temperature_sensitivity,moisture_sensitivity,shelf_life_days,packaging_format,current_packaging_material
0,Sugar Lipstick 30 g,Cosmetics,30,28.09,83.48,High,Low,Low,180,Tube,HDPE Plastic
1,Head & Shoulders Shampoo 30 g,Personal Care,30,28.29,70.42,Medium,Low,Low,30,Bottle,HDPE Plastic
2,Nestlé Namkeen 60 g,Food,60,82.42,188.00,Medium,Low,Medium,365,Pouch,LDPE Plastic
3,Head & Shoulders Handwash 30 g,Personal Care,30,41.64,29.17,Medium,Low,Low,1825,Bottle,HDPE Plastic
4,Britannia Cheese 100 g,Dairy,100,117.03,291.24,Medium,High,Medium,365,Pouch,HDPE Plastic

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_name                500 non-null    object
 1   product_category            500 non-null    object
 2   product_weight_g            500 non-null    int64
 3   product_volume_cm3          500 non-null    float64
 4   price_inr                   500 non-null    float64
 5   fragility_level             500 non-null    object
 6   temperature_sensitivity     500 non-null    object
 7   moisture_sensitivity        500 non-null    object
 8   shelf_life_days             500 non-null    int64
 9   packaging_format            500 non-null    object
 10  current_packaging_material  500 non-null    object
dtypes: float64(2), int64(2), object(7)
memory usage: 43.1+ KB

In [9]:
missing_values = df.isnull().sum()
missing_values

product_name                  0
product_category              0
product_weight_g              0
product_volume_cm3            0
price_inr                     0
fragility_level               0
temperature_sensitivity       0
moisture_sensitivity          0
shelf_life_days               0
packaging_format              0
current_packaging_material    0
dtype: int64

In [10]:
df.duplicated().sum()

np.int64(0)

In [11]:
df = df.drop_duplicates()
df.shape

(500, 11)

In [12]:
df.columns

Index(['product_name', 'product_category', 'product_weight_g',
       'product_volume_cm3', 'price_inr', 'fragility_level',
       'temperature_sensitivity', 'moisture_sensitivity', 'shelf_life_days',
       'packaging_format', 'current_packaging_material'],
      dtype='object')

In [13]:

df.duplicated(subset=df.columns[0]).sum()

np.int64(262)

In [14]:
df = df.drop_duplicates(subset=df.columns[0], keep="first")
df.shape

(238, 11)

In [15]:

df.duplicated(subset=df.columns[0]).sum()

np.int64(0)

In [16]:

df.reset_index(drop=True, inplace=True)

In [17]:
df.to_csv(r"D:\Infosys Internship\cleaned_dataset.csv", index=False)