In [2]:
import pandas as pd
import numpy as np

In [3]:
materials = pd.read_csv("data/materials_strength.csv")
products  = pd.read_csv("data/amazon_eco-friendly_products.csv")
dosii     = pd.read_excel("data/dosii.xlsx")
recycle   = pd.read_csv("data/ten00063_page_linear.csv")
co2_owid  = pd.read_csv("data/owid-co2-data.csv")

In [5]:
materials.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1552 entries, 0 to 1551
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Std             1552 non-null   object
 1   ID              1552 non-null   object
 2   Material        1552 non-null   object
 3   Heat treatment  802 non-null    object
 4   Su              1552 non-null   int64
 5   Sy              1552 non-null   object
 6   A5              1346 non-null   float64
 7   Bhn             463 non-null    float64
 8   E               1552 non-null   int64
 9   G               1552 non-null   int64
 10  mu              1552 non-null   float64
 11  Ro              1552 non-null   int64
 12  pH              193 non-null    float64
 13  Desc            981 non-null    object
 14  HV              165 non-null    float64
dtypes: float64(5), int64(4), object(6)
memory usage: 182.0+ KB

In [10]:
materials.shape

(1552, 15)

In [6]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3587 entries, 0 to 3586
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            3587 non-null   object
 1   title         3587 non-null   object
 2   name          3558 non-null   object
 3   category      3558 non-null   object
 4   material      2878 non-null   object
 5   brand         3414 non-null   object
 6   price         3356 non-null   object
 7   rating        3341 non-null   float64
 8   reviewsCount  3341 non-null   float64
 9   description   3139 non-null   object
 10  url           3587 non-null   object
 11  img_url       3587 non-null   object
 12  inStock       2912 non-null   object
 13  inStockText   3259 non-null   object
dtypes: float64(2), object(12)
memory usage: 392.5+ KB

In [7]:
dosii.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 2 columns):
 #   Column                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       --------------  -----
 0   Description                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  1 non-null      object
 1   The Database of Sustainability Indicators and Indices (DOSII) is a searchable inventory of sustainability indicators and metadata from peer reviewed sources classified into a single taxonomy.  DOSII is a resource to assist researchers and stakeholders identify candidate measures relevant to specific sustainability interests.  It provides a “lay of the land” on how various aspects of sustainability have been measured, covers a variety of topics (e.g., agriculture, poverty, education) and spans from global to community scale.  It was developed  as a part of Safe and Healthy Communities (SHC) indicators and Indices effort (SHC 1.2.2.1: Inventory of Sustainability Indicators, completed in FY 2014) and is a companion to the Framework for Sustainability Indicators at EPA: https://www.epa.gov/sustainability/report-framework-sustainability-indicators-epa.  3 non-null      object
dtypes: object(2)
memory usage: 336.0+ bytes

In [8]:
recycle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     365 non-null    object
 1   LAST UPDATE  365 non-null    object
 2   freq         365 non-null    object
 3   waste        365 non-null    object
 4   unit         365 non-null    object
 5   geo          365 non-null    object
 6   TIME_PERIOD  365 non-null    int64
 7   OBS_VALUE    365 non-null    float64
 8   OBS_FLAG     33 non-null     object
 9   CONF_STATUS  0 non-null      float64
dtypes: float64(2), int64(1), object(7)
memory usage: 28.6+ KB

In [9]:
co2_owid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50411 entries, 0 to 50410
Data columns (total 79 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   country                                    50411 non-null  object
 1   year                                       50411 non-null  int64
 2   iso_code                                   42480 non-null  object
 3   population                                 41167 non-null  float64
 4   gdp                                        15251 non-null  float64
 5   cement_co2                                 29173 non-null  float64
 6   cement_co2_per_capita                      25648 non-null  float64
 7   co2                                        29384 non-null  float64
 8   co2_growth_abs                             27216 non-null  float64
 9   co2_growth_prct                            26239 non-null  float64
 10  co2_including_luc                          23796 non-null  float64
 11  co2_including_luc_growth_abs               23496 non-null  float64
 12  co2_including_luc_growth_prct              23496 non-null  float64
 13  co2_including_luc_per_capita               23757 non-null  float64
 14  co2_including_luc_per_gdp                  16790 non-null  float64
 15  co2_including_luc_per_unit_energy          10020 non-null  float64
 16  co2_per_capita                             26509 non-null  float64
 17  co2_per_gdp                                17528 non-null  float64
 18  co2_per_unit_energy                        10699 non-null  float64
 19  coal_co2                                   21925 non-null  float64
 20  coal_co2_per_capita                        21314 non-null  float64
 21  consumption_co2                            5053 non-null   float64
 22  consumption_co2_per_capita                 4643 non-null   float64
 23  consumption_co2_per_gdp                    4448 non-null   float64
 24  cumulative_cement_co2                      29151 non-null  float64
 25  cumulative_co2                             27563 non-null  float64
 26  cumulative_co2_including_luc               23796 non-null  float64
 27  cumulative_coal_co2                        21925 non-null  float64
 28  cumulative_flaring_co2                     16111 non-null  float64
 29  cumulative_gas_co2                         18147 non-null  float64
 30  cumulative_luc_co2                         37450 non-null  float64
 31  cumulative_oil_co2                         25458 non-null  float64
 32  cumulative_other_co2                       3254 non-null   float64
 33  energy_per_capita                          10459 non-null  float64
 34  energy_per_gdp                             7787 non-null   float64
 35  flaring_co2                                16174 non-null  float64
 36  flaring_co2_per_capita                     14910 non-null  float64
 37  gas_co2                                    18147 non-null  float64
 38  gas_co2_per_capita                         17446 non-null  float64
 39  ghg_excluding_lucf_per_capita              35842 non-null  float64
 40  ghg_per_capita                             36179 non-null  float64
 41  land_use_change_co2                        37450 non-null  float64
 42  land_use_change_co2_per_capita             36635 non-null  float64
 43  methane                                    38150 non-null  float64
 44  methane_per_capita                         36179 non-null  float64
 45  nitrous_oxide                              38500 non-null  float64
 46  nitrous_oxide_per_capita                   36439 non-null  float64
 47  oil_co2                                    25459 non-null  float64
 48  oil_co2_per_capita                         24722 non-null  float64
 49  other_co2_per_capita                       2659 non-null   float64
 50  other_industry_co2                         3254 non-null   float64
 51  primary_energy_consumption                 10503 non-null  float64
 52  share_global_cement_co2                    22270 non-null  float64
 53  share_global_co2                           27563 non-null  float64
 54  share_global_co2_including_luc             23796 non-null  float64
 55  share_global_coal_co2                      21925 non-null  float64
 56  share_global_cumulative_cement_co2         22270 non-null  float64
 57  share_global_cumulative_co2                27563 non-null  float64
 58  share_global_cumulative_co2_including_luc  23796 non-null  float64
 59  share_global_cumulative_coal_co2           21925 non-null  float64
 60  share_global_cumulative_flaring_co2        11089 non-null  float64
 61  share_global_cumulative_gas_co2            15167 non-null  float64
 62  share_global_cumulative_luc_co2            37450 non-null  float64
 63  share_global_cumulative_oil_co2            23833 non-null  float64
 64  share_global_cumulative_other_co2          2170 non-null   float64
 65  share_global_flaring_co2                   11089 non-null  float64
 66  share_global_gas_co2                       15167 non-null  float64
 67  share_global_luc_co2                       37450 non-null  float64
 68  share_global_oil_co2                       23833 non-null  float64
 69  share_global_other_co2                     2170 non-null   float64
 70  share_of_temperature_change_from_ghg       41238 non-null  float64
 71  temperature_change_from_ch4                38280 non-null  float64
 72  temperature_change_from_co2                41238 non-null  float64
 73  temperature_change_from_ghg                41238 non-null  float64
 74  temperature_change_from_n2o                38280 non-null  float64
 75  total_ghg                                  38150 non-null  float64
 76  total_ghg_excluding_lucf                   37813 non-null  float64
 77  trade_co2                                  4712 non-null   float64
 78  trade_co2_share                            4712 non-null   float64
dtypes: float64(76), int64(1), object(2)
memory usage: 30.4+ MB

In [11]:
df = materials[["Material", "Su"]].copy()
df.columns = ["Material_Type", "Strength"]

df["Material_Type"] = df["Material_Type"].str.lower().str.strip()

In [12]:
df["Weight_Capacity"] = df["Strength"] * 0.02

In [13]:
df["Product_Category"] = "electronics"

In [14]:
fragility_map = {
    "electronics": "High",
    "glassware": "High",
    "cosmetics": "Medium",
    "food": "Medium",
    "clothing": "Low"
}

df["Fragility_Level"] = df["Product_Category"].map(fragility_map)

In [15]:
df["Shipping_Type"] = "International"

In [16]:
recycle_map = {
    "paper and cardboard packaging waste": 85,
    "plastic packaging waste": 60,
    "glass packaging waste": 90,
    "wood packaging waste": 70,
    "metal packaging waste": 95
}

df["Recyclability_Percentage"] = df["Material_Type"].map(recycle_map).fillna(65)

In [17]:
bio_map = {
    "paper": 0.95,
    "cardboard": 0.90,
    "wood": 0.85,
    "plastic": 0.20,
    "glass": 0.05,
    "aluminum": 0.02
}

df["Biodegradability_Score"] = df["Material_Type"].map(bio_map).fillna(0.4)

In [18]:
co2_map = {
    "paper": 100,
    "cardboard": 120,
    "plastic": 280,
    "glass": 400,
    "aluminum": 500
}

df["CO2_Emission_Score"] = df["Material_Type"].map(co2_map).fillna(200)

In [19]:
cost_map = {
    "paper": 10,
    "cardboard": 15,
    "plastic": 20,
    "glass": 25,
    "aluminum": 30
}

df["Cost_Per_Unit"] = df["Material_Type"].map(cost_map).fillna(18)

In [20]:
df["CO2_Impact_Index"] = df["CO2_Emission_Score"] / df["CO2_Emission_Score"].max()

df["Cost_Efficiency_Index"] = df["Strength"] / df["Cost_Per_Unit"]

df["Material_Suitability_Score"] = (
    df["Strength"]
    + df["Weight_Capacity"]
    + (df["Biodegradability_Score"] * 100)
    + df["Recyclability_Percentage"]
) / (df["Cost_Per_Unit"] + df["CO2_Emission_Score"])

In [23]:
df.shape

(1552, 13)

In [26]:
df.isnull().sum()

Material_Type                 0
Strength                      0
Weight_Capacity               0
Product_Category              0
Fragility_Level               0
Shipping_Type                 0
Recyclability_Percentage      0
Biodegradability_Score        0
CO2_Emission_Score            0
Cost_Per_Unit                 0
CO2_Impact_Index              0
Cost_Efficiency_Index         0
Material_Suitability_Score    0
dtype: int64

In [25]:
df.head()

,Material_Type,Strength,Weight_Capacity,Product_Category,Fragility_Level,Shipping_Type,Recyclability_Percentage,Biodegradability_Score,CO2_Emission_Score,Cost_Per_Unit,CO2_Impact_Index,Cost_Efficiency_Index,Material_Suitability_Score
0,steel sae 1015,421,8.42,electronics,High,International,65.0,0.4,200.0,18.0,1.0,23.388889,2.451468
1,steel sae 1015,424,8.48,electronics,High,International,65.0,0.4,200.0,18.0,1.0,23.555556,2.465505
2,steel sae 1015,386,7.72,electronics,High,International,65.0,0.4,200.0,18.0,1.0,21.444444,2.287706
3,steel sae 1020,448,8.96,electronics,High,International,65.0,0.4,200.0,18.0,1.0,24.888889,2.577798
4,steel sae 1020,441,8.82,electronics,High,International,65.0,0.4,200.0,18.0,1.0,24.500000,2.545046

In [22]:
df.to_csv("ecopackai_dataset_v1.csv", index=False)

In [32]:
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/ecopackai"
)

materials_df = (
    df.groupby("Material_Type", as_index=False)
      .agg({
          "Strength": "mean",
          "Weight_Capacity": "mean",
          "Cost_Per_Unit": "mean",
          "Biodegradability_Score": "mean",
          "CO2_Emission_Score": "mean",
          "Recyclability_Percentage": "mean"
      })
)

In [33]:
materials_df.columns = [
    "material_type",
    "strength",
    "weight_capacity",
    "cost_per_unit",
    "biodegradability_score",
    "co2_emission_score",
    "recyclability_percentage"
]

In [34]:
materials_df.to_sql(
    "materials",
    engine,
    if_exists="append",
    index=False
)

print("Materials table populated successfully")

Materials table populated successfully

In [35]:
products_df = df[[
    "Product_Category",
    "Fragility_Level",
    "Shipping_Type"
]].drop_duplicates()

products_df["product_name"] = products_df["Product_Category"] + "_product"

products_df = products_df[[
    "product_name",
    "Product_Category",
    "Fragility_Level",
    "Shipping_Type"
]]

products_df.columns = [
    "product_name",
    "product_category",
    "fragility_level",
    "shipping_type"
]

products_df.to_sql(
    "products",
    engine,
    if_exists="append",
    index=False
)

print("Products table populated")

Products table populated

In [36]:
materials_db = pd.read_sql(
    "SELECT material_id, material_type FROM materials", engine
)

products_db = pd.read_sql(
    "SELECT product_id, product_category FROM products", engine
)

df_scores = df.merge(
    materials_db,
    left_on="Material_Type",
    right_on="material_type"
)

df_scores = df_scores.merge(
    products_db,
    left_on="Product_Category",
    right_on="product_category"
)

scores_df = df_scores[[
    "material_id",
    "product_id",
    "Material_Suitability_Score",
    "CO2_Impact_Index",
    "Cost_Efficiency_Index"
]]

scores_df.columns = [
    "material_id",
    "product_id",
    "material_suitability_score",
    "co2_impact_index",
    "cost_efficiency_index"
]

scores_df.to_sql(
    "material_product_scores",
    engine,
    if_exists="append",
    index=False
)

print("material_product_scores populated")

material_product_scores populated