In [2]:
import pandas as pd

In [4]:
material_df = pd.read_csv(r"D:\EcopackAI Project\DATA\material.csv")

In [5]:
material_df["co2_impact_index"] = (
    material_df["co2_emission_score"] * 0.5 +
    (100 - material_df["recyclability_percent"]) * 0.3 +
    (10 - material_df["biodegradability_score"]) * 0.2
)

material_df[[
    "co2_emission_score",
    "recyclability_percent",
    "biodegradability_score",
    "co2_impact_index"
]].head()

,co2_emission_score,recyclability_percent,biodegradability_score,co2_impact_index
0,70,75,85,27.5
1,70,70,85,29.0
2,70,70,90,28.0
3,85,30,95,46.5
4,90,20,95,52.0

In [6]:
material_df["performance_index"] = (
    material_df["strength_score"] * 0.6 +
    material_df["weight_capacity_score"] * 0.4
)

material_df[[
    "strength_score",
    "weight_capacity_score",
    "performance_index"
]].head()

   strength_score  weight_capacity_score  performance_index
0               3                      3                3.0
1               3                      3                3.0
2               2                      2                2.0
3               2                      3                2.4
4               3                      3                3.0

In [7]:
material_df["material_suitability_score"] = (
    material_df["performance_index"] * 0.35 +
    material_df["biodegradability_score"] * 0.25 +
    (material_df["recyclability_percent"] / 100) * 0.2 -
    material_df["co2_emission_score"] * 0.2
)

material_df[["material_suitability_score"]].head()

   material_suitability_score
0                        8.45
1                        8.44
2                        9.34
3                        7.65
4                        6.84

In [8]:
material_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   material_id                 111 non-null    int64
 1   material_name               111 non-null    object
 2   material_type               111 non-null    object
 3   strength_score              111 non-null    int64
 4   weight_capacity_score       111 non-null    int64
 5   biodegradability_score      111 non-null    int64
 6   co2_emission_score          111 non-null    int64
 7   recyclability_percent       111 non-null    int64
 8   co2_impact_index            111 non-null    float64
 9   performance_index           111 non-null    float64
 10  material_suitability_score  111 non-null    float64
dtypes: float64(3), int64(6), object(2)
memory usage: 9.7+ KB

In [9]:
material_df.describe()

,material_id,strength_score,weight_capacity_score,biodegradability_score,co2_emission_score,recyclability_percent,co2_impact_index,performance_index,material_suitability_score
count,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000
mean,56.000000,2.846847,2.909910,85.459459,83.261261,43.288288,43.552252,2.872072,5.804414
std,32.186954,0.788534,0.757382,20.889660,9.009804,16.807675,6.034972,0.749687,3.801652
min,1.000000,2.000000,2.000000,0.000000,50.000000,20.000000,27.500000,2.000000,-10.100000
25%,28.500000,2.000000,2.000000,88.000000,82.000000,30.000000,39.500000,2.000000,6.010000
50%,56.000000,3.000000,3.000000,90.000000,85.000000,40.000000,44.000000,3.000000,6.450000
75%,83.500000,3.000000,3.000000,93.000000,88.000000,55.000000,48.600000,3.000000,6.905000
max,111.000000,5.000000,5.000000,95.000000,95.000000,90.000000,54.500000,5.000000,11.630000

In [10]:
material_df.to_csv("module2_feature_engineered_materials.csv", index=False)
print("File saved successfully")

File saved successfully